.popup {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 60vw;
  border-radius: 1rem;
  padding: var(--margin-medium);
  gap: var(--margin-medium-sm);
  box-shadow: 0px 39.47px 39.47px 0px #00000014;
  background: #fff;
  z-index: 999;
}

.popup__header_container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.popup__btn_container {
  gap: var(--margin-small);
  display: flex;
  justify-content: flex-end;
}

.popup__content {
  border: none;
  outline: none;
  height: 80%;
  resize: none;
  background: var(--color-accent);
  border-radius: 0.5rem;
  padding: 1rem;
}

.popup__btn_container button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  height: 2rem;
  width: 12rem;
  color: #fff;
  background-color: var(--color-accent-btn);
}

.popup__title {
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem;

  background: var(--color-accent);
}

.popup__btn_container button:nth-child(1) {
  color: #000000;
  border: 1px solid #000000;
  background: transparent;
}

.popup__btn_container button:hover {
  scale: 1.1;
}

.popup_keywords_container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
   overflow: scroll;
   scrollbar-width: none;
}

.popup_keywords_container span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border:none;
    outline: none;
  height: 2rem;
  width: 5rem;
 border-radius: 0.4rem;
  background: var(--color-accent-keyword);
 color:  #6941C6;
}

.popup__keyword_bar {
    padding: 0 0 0 0.2rem;
    font-size: 0.8rem;
    border:none;
    outline: none;
  height: 2rem;
  width: 5rem;
 border-radius: 0.2rem;
  background: var(--color-accent-keyword);
 color:  #6941C6;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
}



.popup__addkeyword_btn {
    cursor:pointer;
   padding: 0.5rem 2rem;
    align-self: flex-start;
   border: 1px solid var(--color-accent-btn);
    outline: none;
    font-weight: 500;
    border-radius: 0.5rem;
    color: #000000;
    background: transparent;

     

}

.popup__addkeyword_btn:hover {
     scale: 1.1;
}

@media screen and (max-width: 430px) {
  .popup {
    width: 85vw;
    height: 50vh;
  }

}